[manim]
pixel_width = 1080
pixel_height = 1920
frame_width = 9
frame_height = 16
frame_rate = 60
background_color = #000000

[scene]
total_time = 12.0
n_samples = 2048
n_terms = 160
slider_length = 6.5
slider_shift_down = 4.8
full_path_opacity = 0.25
full_path_width = 2.0
active_path_width = 4.0
dot_radius = 0.06
circle_width = 2.0
vector_width = 3.0
max_draw_scale = 3.6
title_scale = 0.85
label_scale = 0.65
svg_path = dinosaurus.png
#telescope.png
#brain.png
#woman4.png
#woman1.png
#dinosaurus.png
#Fourie.png

[colors]
label_col = #FFD166
path_col = #7AA6FF
active_path_col = #4D6BFF
dot_col = #FF4D4D
circle_col = #FF4D4D
vector_col = #FF4D4D
slider_col = #FFFFFF
knob_col = #FFD166
tick_col = #FFFFFF
